<div id="roadTripContainer" class="d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <nav routerLink="./cedar-point" routerLinkActive="active-link">cedar point</nav>
                    <nav routerLink="./chicago" routerLinkActive="active-link">chicago</nav>
                    <nav routerLink="./minneapolis" routerLinkActive="active-link"><span>minneapolis</span></nav>
                    <nav routerLink="./badlands" routerLinkActive="active-link">badlands</nav>
                    <nav routerLink="./idaho" routerLinkActive="active-link">idaho</nav>
                    <nav routerLink="./oregon" routerLinkActive="active-link">oregon</nav>
                    <nav class="disabled">redwoods</nav>
                    <nav class="disabled">bay area</nav>
                    <nav class="disabled">las vegas</nav>
                    <nav class="disabled">puerto vallarta</nav>
                    <nav class="disabled">arizona</nav>
                    <nav class="disabled">utah</nav>
                    <nav class="disabled">colorado</nav>
                    <nav class="disabled">st. louis</nav>
                    <nav routerLink="./tile" routerLinkActive="active-link">tile view</nav>
                </div>
            </div>
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>