@import '../../road-trip.component.scss';

#minneapolisHeader {
    font-family: 'Michroma', sans-serif;
    font-size: 4em;
    // overflow-x: hidden;
}

@media (max-width: 414px) {
    #minneapolisHeader {
        font-size: 3em;
    }    
}

@media (max-width: 375px) {
    #minneapolisHeader {
        font-size: 2.5em;
    }    
}


@media (max-width: 320px) {
    #minneapolisHeader {
        font-size: 2em;
    }    
}
