<div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2>
        <span>u</span>
        <span>n</span>
        <span>d</span>
        <span>e</span>
        <span>r</span>
        <span>&nbsp;</span>
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>s</span>
        <span>t</span>
        <span>r</span>
        <span>u</span>
        <span>c</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
      </h2>
    </div>
  </div>